body{
    background-color: #F5F5F3;
    overflow-x: hidden;
    margin: 0;
    font-family: arial;
}


div.Back a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #28282A;
    padding: 15px 20px;
}


div.Flex-Container{
    display: flex;
    margin: 2% 4% 2% 4%;
    justify-content: space-between;
}

div.Flex-Container button{
    font-size: 1.5em;
    background-color: #28282A;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
}

table { 
    width: 100%; 
    border-collapse: collapse;
    font-size: 20px;
}

 th, td { 
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left; 
}

@media (max-width:480px) {
    body{
    font-size: 10px;
}

div.Back a{
    padding: 10px 15px;
}

div.Flex-Container{
    margin: 3% 1% 2% 1%;
}

div.Flex-Container div.Delete button{
    font-size: 1em;
    padding: 10px 15px;
}

table { 
    font-size: 1em;
}
}