body{
    background-color: black;
    font-size: 20px;
}

div.Back{
    padding-left: 4%;
    padding-top: 4%;
    width: 20%;
}

div.Back a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px;
    font-family: Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Back a:hover{
    background-color: white;
    color: black;
}


div.Email{
    margin-left: 30%;
    background-color: #F5F5F3;
    width: 40%;
    border-radius: 10px;
    height: 180px;
}

div.Email div.Title{
    font-family: Courier;
    padding-left: 17%;
    padding-top: 4%;
}

div.Email div.Input{
    padding-left: 15%;
    margin-top: -3%;
}

div.Email div.Input input{
    width: 60%;
    height: 40px;
    font-family: Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Email div.Input button{
    font-family: Courier;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    margin-left: 5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Email div.Input button:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

div.Error{
    display: none;
    background-color: #ff8791;
    width: 40%;
    border-radius: 10px;
    height: 50px;
    margin-left: 30%;
    align-items: center;
}

div.Error div.Icon{
    width: 40%;
    padding-left: 3%;
    padding-top: 1%;
}

div.Error div.Icon img{
    width: 20%;
}

div.Error div.Description-Error{
    flex: 1;
    font-family: Courier;
    color: #d93025;
    padding-right: 1%;
}

div.Error-1{
    display: none;
    background-color: #ff8791;
    width: 40%;
    border-radius: 10px;
    height: 50px;
    margin-left: 30%;
    align-items: center;
    
}

div.Error-1 div.Icon{
    width: 40%;
    padding-left: 3%;
    padding-top: 1%;
}

div.Error-1 div.Icon img{
    width: 20%;
}

div.Error-1 div.Description-Error{
    flex: 1;
    font-family: Courier;
    color: #d93025;
    padding-right: 1%;
}

div.Change-Password{
    margin-left: 30%;
    background-color: #F5F5F3;
    width: 40%;
    border-radius: 10px;
    height: 300px;
    margin-top: 1%;
    visibility: hidden;
}

div.Change-Password div.Title{
    font-family: Courier;
    padding-left: 17%;
    padding-top: 4%;
}

div.Change-Password div.New-Password{
    padding-left: 15%;
    margin-top: -1%;
}

div.Change-Password div.New-Password input{
    width: 60%;
    height: 40px;
    font-family: Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Change-Password div.Confirm-Password{
    padding-left: 15%;
    margin-top: 4%;
}

div.Change-Password div.Confirm-Password input{
    width: 60%;
    height: 40px;
    font-family: Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Change-Password div.Button-Change{
    padding-left: 15%;
    margin-top: 4%;
}

div.Change-Password div.Button-Change button{
    font-family: Courier;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Change-Password div.Button-Change button:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

@media (max-width:480px) {
    body{
    font-size: 12px;
}

div.Email{
    margin-left: 10%;
    width: 80%;
    height: 120px;
}

div.Email div.Title{
    padding-left: 5%;
}

div.Email div.Input{
    padding-left: 5%;
    margin-top: -3%;
}

div.Email div.Input button{
   color: black;
}

div.Error{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

div.Change-Password{
    margin-left: 10%;
    width: 80%;
    height: 240px;
}

div.Change-Password div.Title{
    padding-left: 10%;
}

div.Change-Password div.New-Password{
    padding-left: 10%;
}

div.Change-Password div.New-Password input{
    width: 70%;
}

div.Change-Password div.Confirm-Password{
    padding-left: 10%;
}

div.Change-Password div.Confirm-Password input{
    width: 70%;
}

div.Change-Password div.Button-Change{
    padding-left: 10%;
}

div.Change-Password div.Button-Change button{
    color: black;
}
}
