body{
    background-color: #F5F5F3;
    overflow-x: hidden;
    margin: 0;
    font-family: arial;
}

div.Back{
    margin-top: 4%;
    margin-left: 4%;
}

div.Back a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #28282A;
    padding: 15px 20px;
}

div.Flex-Container{
    display: flex;
    margin: 3% 4% 2% 4%;
    gap: 5%;
}

div.Flex-Container div.Name{
    width: 20%;
}

div.Flex-Container div.Name input{
    height: 40px;
    width: 100%;
}

div.Flex-Container div.Confirm{
    width: 10%;
    margin-top: 1%;
}

div.Flex-Container div.Confirm button{
    border: none;
    background-color: #28282A;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 20px;
    cursor: pointer;
}

div.Flex-Container div.Edit{
    width: 10%;
    margin-top: 1%;
}

div.Flex-Container div.Edit button{
    border: none;
    background-color: #28282A;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 40px;
    cursor: pointer;
}

div.Flex-Container div.Delete{
    width: 10%;
    margin-top: 1%;
}

div.Flex-Container div.Delete button{
    border: none;
    background-color: #28282A;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 20px;
    cursor: pointer;
}

div.Category{
    border-top: 1px solid #ddd;
}

 th, td { 
    padding: 15px;
    text-align: left; 
    border-top: 2px solid #ddd;
}

@media (max-width: 480px) {
    body{
    font-family: Arial;
    font-size: 10px;
}

div.Back{
    margin-top: 1%;
    margin-left: 1%;
}

div.Flex-Container{
    margin: 4% 1% 2% 1%;
    gap: 5%;
}

div.Flex-Container div.Name{
    width: 30%;
}

div.Flex-Container div.Name input{
    height: 20px;
}

div.Flex-Container div.Confirm{
    width: 15%;
    margin-top: 2%;
}

div.Flex-Container div.Confirm button{
    padding: 10px;
    font-size: 1em;
}

div.Flex-Container div.Edit{
    width: 13%;
    margin-top: 2%;
}

div.Flex-Container div.Edit button{
    padding: 10px 15px;
    font-size: 1em;
}


div.Flex-Container div.Delete{
    width: 15%;
    margin-top: 2%;
}

div.Flex-Container div.Delete button{  
    padding: 10px;
    font-size: 1em;
}
}