@font-face {
    font-family: 'ArchivoBlack';
    src: url('../Font/Archivo_Black/ArchivoBlack-Regular.ttf') ;
}

body{
    background-color: #F5F5F3;
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
}

div.Title{
    padding-top: 2%;
    font-size: 3.1em;
    font-family: 'ArchivoBlack';
    padding-left: 4%;
    color: #28282A;
}

div.Video{
    position: relative;
}

div.Description-Video-1{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    inset: 0;
    top: 75%;
    color: white;
    font-family: 'ArchivoBlack';
    font-size: 2.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Video-1{
    position: relative;
}

div.Video-1 video{
    width: 100%;
    display: block;
}

div.Flex-Container-1{
    display: flex;
    align-items: end;
    padding-top: 2%;
    padding-right: 4%;
    gap: 5%;
}

div.Flex-Container-1 div.Content{
    font-family: Courier;
    flex:1;
    padding-bottom: 10%;
}

div.Flex-Container-1 div.Video-2{
    width: 60%;
}

div.Flex-Container-1 div.Video-2 video{
    width: 100%;
    height: auto;
    display: block;
}

div.Title-1{
    font-family: 'ArchivoBlack';
    padding-top: 2%;
    padding-left: 4%;
    font-size: 2.2em;
}

div.Grid-Container-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 4%;
    padding-right: 4%;
    gap: 5%;
}

div.Grid-Container-1 div.Img-1{
    grid-column: 1/2;
    grid-row: 1/2;
}

div.Grid-Container-1 div.Img-1 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-2{
    grid-column: 2/3;
    grid-row: 1/2;
}


div.Grid-Container-1 div.Img-2 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-3{
    grid-column: 3/4;
    grid-row: 1/2;
}

div.Grid-Container-1 div.Img-3 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-4{
    grid-column: 1/2;
    grid-row: 2/3;
}

div.Grid-Container-1 div.Img-4 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-5{
    grid-column: 2/3;
    grid-row: 2/3;
}

div.Grid-Container-1 div.Img-5 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-6{
    grid-column: 3/4;
    grid-row: 2/3;
}

div.Grid-Container-1 div.Img-6 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-7{
    grid-column: 1/2;
    grid-row: 3/4;
}

div.Grid-Container-1 div.Img-7 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-8{
    grid-column: 2/3;
    grid-row: 3/4;
}

div.Grid-Container-1 div.Img-8 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-1 div.Img-9{
    grid-column: 3/4;
    grid-row: 3/4;
}

div.Grid-Container-1 div.Img-9 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Flex-Container-2{
    display: flex;
    padding-top: 15%;
}

div.Flex-Container-2 div.Video-3{
    padding-left: 4%;
    padding-right: 1%;
    width: 60%;
}

div.Flex-Container-2 div.Video-3 video{
    width: 100%;
    height: auto;
    display: block;
}

div.Flex-Container-2 div.Content{
    width: 40%;
    font-family: Courier;
    padding-right: 5%;
    padding-top: 5%;
}

div.Title-2{
    font-size: 2.2em;
    font-family: 'ArchivoBlack';
    padding-left: 4%;
    margin-top: 3%;
}

div.Grid-Container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 4%;
    padding-right: 4%;
    gap: 5%;
}

div.Grid-Container-2 div.Img-10{
    grid-column: 1/2;
    grid-row: 1/2;
}

div.Grid-Container-2 div.Img-10 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-11{
    grid-column: 2/3;
    grid-row: 1/2;
}

div.Grid-Container-2 div.Img-11 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-12{
    grid-column: 3/4;
    grid-row: 1/2;
}

div.Grid-Container-2 div.Img-12 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-13{
    grid-column: 1/2;
    grid-row: 2/3;
}

div.Grid-Container-2 div.Img-13 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-14{
    grid-column: 2/3;
    grid-row: 2/3;
}

div.Grid-Container-2 div.Img-14 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-15{
    grid-column: 3/4;
    grid-row: 2/3;
}

div.Grid-Container-2 div.Img-15 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-16{
    grid-column: 1/2;
    grid-row: 3/4;
}

div.Grid-Container-2 div.Img-16 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-17{
    grid-column: 2/3;
    grid-row: 3/4;
}

div.Grid-Container-2 div.Img-17 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Grid-Container-2 div.Img-18{
    grid-column: 3/4;
    grid-row: 3/4;
}

div.Grid-Container-2 div.Img-18 img{
    width: 100%;
    height: auto;
    display: block;
}

div.Content{
    margin-top: 15%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    font-family: Courier;
}

div.Video-4 video{
   width: 100%;
    height: auto;
    display: block;
}

@media (max-width:480px) {
    body{
    font-size: 10px;
}

div.Title{
    font-size: 2.2em;
    padding-top: 10%;
}

div.Description-Video-1{
    font-size: 1.5em;
}

    h2{
        font-size: 0.9em;
    }

    h3{
        font-size: 0.8em;
    }

    div.Video{
        margin-top: -4%;
    }

    div.Description-Video-1{
        left: 15%;
        right: 15%;
    }

    div.Flex-Container-1{
        padding: 1%;
        gap: 1%;
    }

    div.Title-1{
        padding: 1%;
    }

    div.Grid-Container-1{
        padding: 1%;
    }

    div.Flex-Container-2 div.Video-3{
        padding: 1%;
    }

    div.Flex-Container-2 div.Content{
        padding: 1%;
        padding-top: 10%;
    }

    div.Grid-Container-2{
        padding: 1%;
    }

    div.Content{
        padding: 1%;
    }
}