@font-face {
    font-family: 'ArchivoBlack';
    src: url('/User-Index/Font/Archivo_Black/ArchivoBlack-Regular.ttf') ;
}

body{
    background-color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

div.Flex-Container-1{
    position: relative;
    padding-top: 10%;
}

div.Flex-Container-1 div.Back{
    position: absolute;
    inset: 0;
    top: 40%;
    left: 2%;
    z-index: 10;
}

div.Flex-Container-1 div.Back a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 2%;
    font-family: Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Flex-Container-1 div.Back a:hover{
    background-color: white;
    color: black;
}

div.Flex-Container-1 div.Title{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    font-size: 4em;
    font-family: 'ArchivoBlack';
    color: white;
}


div.Error{
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8791;
    width: 40%;
    border-radius: 10px;
    height: 45px;
    display: none;
    align-items: center;
}

div.Error div.Icon{
    width: 5%;
    padding-left: 1%;
}

div.Error div.Icon img{
    max-width: 100%;
    height: auto;
}

div.Error div.Description-Error{
    flex: 1;
    text-align: right;
    font-family: Courier;
    color: #d93025;
    padding-right: 1%;
}

div.Ban{
    display: none;
    background-color: #ff8791;
    width: 40%;
    border-radius: 10px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

div.Ban div.Icon{
    width: 5%;
    padding-left: 1%;
}

div.Ban div.Icon img{
    max-width: 100%;
    height: auto;
}

div.Ban div.Description-Ban{
    flex: 1;
    text-align: right;
    font-family: Courier;
    color: #d93025;
    padding-right: 1%;
}

div.Submit{
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F3;
    width: 40%;
    height: auto;
    border-radius: 10px;
}

div.Submit div.Title-1{
    font-family: Courier;
    padding-top: 4%;
    padding-left: 20%;
}

div.Submit div.Email{
    padding-top: 3%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Submit div.Email input{
    width: 60%;
    height: 40px;
    font-family: Courier;
}

div.Submit div.Title-2{
    font-family: Courier;
    padding-top: 3%;
    padding-left: 20%;
}

div.Submit div.Password{
    padding-top: 3%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Submit div.Password input{
    width: 60%;
    height: 40px;
    font-family: Courier;
}

div.Submit div.Flex-Container-2{
    display: flex;
    padding-top: 3%;
    padding-left: 20%;
    gap: 17%;
}

div.Submit div.Flex-Container-2 div.Google{
    width: 12%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Submit div.Flex-Container-2 div.Google img{
    max-width: 100%;
    height: auto;
}

div.Submit div.Flex-Container-2 div.Facebook{
    width: 12%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Submit div.Flex-Container-2 div.Facebook img{
    max-width: 100%;
    height: auto;
}

div.Submit div.Flex-Container-2 div.Button{
    flex: 1;
}

div.Submit div.Flex-Container-2 button{
    font-family: Courier;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.Submit div.Flex-Container-2 button:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

div.Submit div.Forget{
    text-align: center;
    padding-top: 3%;
}

div.Submit div.Forget a{
    text-decoration: none;
    color: black;
    font-family: Courier;
}

div.Submit div.Forget a:hover{
    text-decoration: underline black;
    transition: 0.5 ease;
}

div.Submit div.Create{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}

div.Submit div.Create a{
    text-decoration: none;
    color: black;
    font-family: Courier;
}

div.Submit div.Create a:hover{
    text-decoration: black underline;
    transition: 0.3s ease;
}

@media (max-width: 480px) {
    body{
        font-size: 12px;
    }

    div.Flex-Container-1{
    display: block;
    padding-top: 12%;
}

div.Area{
    margin-top: 10%;
}

div.Flex-Container-1 div.Title{
    font-size: 1.5em;
}

div.Flex-Container-1 div.Back a{
    font-size: 1em;
}

div.Error{
    width: 80%;
    height: 45px;
}

div.Error div.Icon{
    width: 24%;
    padding-left: 1%;
}

div.Error div.Icon img{
    width: 40%;
}

div.Ban{
    width: 80%;
    height: 45px;
}

div.Ban div.Icon{
    width: 24%;
    padding-left: 1%;
}

div.Ban div.Icon img{
    width: 40%;
}

div.Submit{
    width: 80%;
}

div.Submit div.Title-1{
    padding-top: 10%;
    padding-left: 15%;
}

div.Submit div.Email{
    padding-top: 3%;
}

div.Submit div.Email input{
    width: 70%;
}

div.Submit div.Title-2{
    padding-top: 6%;
    padding-left: 15%;
}

div.Submit div.Password input{
    width: 70%;
}

div.Submit div.Flex-Container-2{
    padding-top: 6%;
    padding-left: 12%;
}

div.Submit div.Flex-Container-2 button{
    font-size: 1em;
    color: black;
}

div.Submit div.Forget{
    padding-top: 6%;
}

div.Submit div.Create{
    padding-top: 6%;
}
}