@font-face {
    font-family: 'ArchivoBlack';
    src: url('../Font/Archivo_Black/ArchivoBlack-Regular.ttf') ;
}

body{
    background-color: #F5F5F3;
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
}

section.Area-1{
    position: relative;
    padding-top: 6%;
}

section.Area-1 div.Brand-Name{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    top: 25%;
    font-family: 'ArchivoBlack';
    color: white;
    font-size: 6.3em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.Area-1 div.Flex-Title{
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 75%;
}

section.Area-1 div.Flex-Title div.Title-1{
    font-family: 'ArchivoBlack';
    color: white;
    font-size: 1.9em;
    z-index: 1;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}

section.Area-1 div.Flex-Nav{
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 80%;
}

section.Area-1 div.Flex-Nav div.Navigation-Woman-Product{
    z-index: 10;
    transition: 0.5s ease-out;
}

section.Area-1 div.Flex-Nav div.Navigation-Woman-Product a{
    color: white;
    text-decoration: none;
    font-family: Courier;
    font-size: 1.3em;
}

section.Area-1 div.Flex-Nav div.Navigation-Woman-Product:hover{
    text-decoration: white underline;
}

section.Area-1 div.Flex-Title div.Title-2{
    font-family: 'ArchivoBlack';
    color: white;
    font-size: 1.9em;
    z-index: 1;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}

section.Area-1 div.Flex-Nav div.Navigation-Men-Product{
    z-index: 10;
    transition: 0.5s ease-out;
}

section.Area-1 div.Flex-Nav div.Navigation-Men-Product a{
    color: white;
    text-decoration: none;
    font-family: Courier;
    font-size: 1.3em;
}

section.Area-1 div.Flex-Nav div.Navigation-Men-Product:hover{
    text-decoration: white underline;
}

section.Area-1 div.Flex-Container{
    display: flex;
}

section.Area-1 div.Flex-Container div.Video-1{
    width: 50%;
    position: relative;
}

section.Area-1 div.Flex-Container div.Video-2{
    width: 50%;
    position: relative;
}

section.Area-1 div.Flex-Container div.Video-1 video{
    max-width: 100%;
    height: auto;
    display: block;
}

section.Area-1 div.Flex-Container div.Video-2 video{
    max-width: 100%;
    height: auto;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
}

.Video-1.paused .video-overlay,
.Video-2.paused .video-overlay {
    opacity: 1;
}

section.Area-2{
    padding-top: 4%;
}

section.Area-2 div.Content-1{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

section.Area-2 div.Content-2{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 1%;
}

section.Area-2 div.Content-3{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 1%;
    padding-bottom: 4%;
}

section.Area-2 div.Img{
    text-align: center;
}

section.Area-2 div.Img img{
    width: 95%;
}

section.Area-3{
    padding-top: 4%;
}

section.Area-3 div.Content-1{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

section.Area-3 div.Content-2{
    font-family: Courier;
   padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 1%;
}

section.Area-3 div.Content-3{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 1%;
}

section.Area-3 div.Content-4{
    font-family: Courier;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 1%;
    padding-bottom: 4%;
}

section.Area-3 div.Content-4 b{
    text-decoration: underline;
}

@media (max-width: 480px) {
    body{
    font-size: 10px;
}

section.Area-1 div.Brand-Name{
    font-size: 4em;
}

section.Area-1 div.Flex-Title div.Title-1{
    font-size: 1.2em;
}

section.Area-1 div.Flex-Title div.Title-2{
    font-size: 1.2em;
}

section.Area-1 div.Navigation-Woman-Product a{
    font-size: 1.2em;
}

section.Area-1 div.Navigation-Men-Product a{
    font-size: 1.2em;
}

section.Area-2{
    padding-top: 1%;
}

section.Area-2 div.Content-1{
    padding: 1%;
}

section.Area-2 div.Content-2{
    padding: 1%;
}

section.Area-2 div.Content-3{
   padding: 1%;
}

section.Area-3{
    padding-top: 1%;
}

section.Area-3 div.Content-1{
    padding: 1%;
}

section.Area-3 div.Content-2{
    padding: 1%;
}

section.Area-3 div.Content-3{
   padding: 1%;
}

section.Area-3 div.Content-4{
    padding: 1%;
}
}
