@font-face {
    font-family: 'ArchivoBlack';
    src: url('/User-Index/Font/Archivo_Black/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/User-Index/Font/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-size: 16px;
    display: flex;
}

 div.Navigation{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-right: 1px solid white;
    height: 100vh;
    border-collapse: collapse;
}

 div.Navigation div.Product{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}

  div.Navigation div.Product:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }

   div.Navigation div.Category{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}

  div.Navigation div.Category:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }
  
  div.Navigation div.Order{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}
  div.Navigation div.Order:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }

  div.Navigation div.User{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}

  div.Navigation div.User:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }

  div.Navigation div.Voucher{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}
  div.Navigation div.Voucher:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }

  div.Navigation div.Question{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}
  div.Navigation div.Question:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }
  
  div.Navigation div.Content{
    height: 5%;
    padding: 20% 0 10% 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}

  div.Navigation div.Content:hover{
    background-color: #1C1C1D;
    transition: 0.3s ease;
  }
  
 div.Title{
    flex: 1;
    text-align: center;
    font-family: 'ArchivoBlack';
    color: white;
    font-size: 4em;
    padding-top: 5%;
    background-color: #1C1C1D;
    position: relative;
}

div.Title div.Back{
 position: absolute;
 top: -2%;
 right: 4%;
}

div.Title div.Back a{
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px 20px;
  border: 1px solid white;
}

div.Title div.Back a:hover{
  background-color: #1C1C1D;
}

@media (max-width: 480px) {
   body{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

 div.Navigation{
    width: 100%;
    flex-direction: row;
    background-color: black;
    border-right: none;
    height: 80px;
    border-bottom: 1px solid white;
}

 div.Navigation div.Product{
    height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

   div.Navigation div.Category{
    height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

  div.Navigation div.Order{
    height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

  div.Navigation div.User{
    height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

div.Navigation div.Question{
   height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

  div.Navigation div.Voucher{
   height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}
  
  div.Navigation div.Content{
   height: 100%;
    margin-top: 0;
    font-size: 1.2em;
    padding: 8% 1%;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

 div.Title{
  width: 100%;
  font-size: 2.5em;
  padding-top: 10%;
  padding-bottom: 500px;
}

div.Title div.Back{
 top: 1%;
 right: 2%;
}

div.Title div.Back a{
  font-size: 10px;
  padding: 10px 15px;
}
}